<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Timesheet · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_url(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="header">
      <h1 class="center-text"> Timesheet </h1>
    </div>
    <%= if @current_user do %>
            <div class="right-indent">
              User: <%= @current_user.name %>
              (<%= link("Logout", to: Routes.session_path(@conn, :delete),
                method: :delete) %>)
            </div>
          <% else %>
            <div class="right-indent">
              <%= link("Please Login", to: Routes.session_path(@conn, :new)) %>
            </div>
          <% end %>
    <div class="container">
        <div>
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info alert-dismissible fade show" role="alert"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :error) do %>
            <p class="alert alert-danger alert-dismissible fade show" role="alert"><%= get_flash(@conn, :error) %></p>
          <% end %>
          <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
