/* This file is for your main application css. */
$body-bg: #e7e7e7; // With scss, Bootstrap lets us override colors and stuff.

@import "~bootstrap/scss/bootstrap";

.center-text {
    text-align: center;
}

.padding {
    text-align: center;
    .radio-inline {
        padding: 1em;
    }
}

.center-button {
    text-align: center;
}

.col-sm-12 {
    .form-group {
        padding-top: 10%;
        width: 40em;
        margin-left: 20%;
    }
}

.header {
    background-color: #343a40;
    color: white;
    height: 6em;
    display: flex;
    align-content: center;
    justify-content: center;
}

.radio-buttons {
    text-align: center;
    display: inline-block;
    padding-left: 30%;
    .radio-button-left-padding {
        display: inline-block;
        padding-left: 1em;
    }
}

.right-indent {
    float: right;
    padding-right: 0.5em;
}